* {
  box-sizing: border-box;
}

.carousel {
  width: 40%;
}

textarea {
  resize: none;
}

.form-field small {
  color: red;
  font-size: 1rem;
  padding-bottom: 0.5rem;

  display: flex;
  justify-content: center;
}

.error input {
  border-color: red;
}

.success input {
  border-color: #28a745;
}
